.contato {
  width: 100%;
  padding: 60px 0;
  position: relative;
}
.contato-flex {
  max-width: 624px;
  display: flex;
  align-self: center;
  h1, h2, p {
    text-align: center;
  }
  h2 {
    text-transform: uppercase;
    margin: 11px 0px 21px 0px;
  }
}
.flex-contato {
  width: 100%;
}
.form-contato {
  max-width: 100%;
  margin: 35px auto;
  button {
    display: block;
    margin: 24px auto;
  }
}
.contato-grupo {
  max-width: 531px;
  height: 69px;
  background: $cor-bg;
  border: 1.14958px solid rgba(236, 236, 236, 0.85);
  margin: 0 auto;
  transition: all 0.5s;
  label {
    display: block;
    width: 100%;
    @include mont(13);
    color: $fnt-cnt;
    font-weight: 700;
    padding: 10px 10px 0px 10px;
  }
  input { 
    display: block;
    width: 100%;
    border: none;
    background: none;
    padding: 10px;
    @include mont(13);
  }
  &:hover {
    border-left: 3px solid $fnt-cnt;
  }
}
.logo-footer {
  display: block;
  margin: 0 auto;
}